{include ../../system/css/reset.css}
{include ../../system/css/common.css}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	margin:0;
	touch-action: none;
}

#extra, #view{
	--scale: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: left;
	background: #fff;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	transform-box: fill-box;
}

@media all and (min-width:640px) and (min-height: 0px) and (max-height: 63px) {
	#extra, #view {
		--scale: 0;
	}
}

@media all and (min-width:640px) and (min-height: 64px) and (max-height: 139px) {
	#extra, #view {
		--scale: 0.1;
	}
}

@media all and (min-width:640px) and (min-height: 140px) and (max-height: 224px) {
	#extra, #view {
		--scale: 0.25;
	}
}

@media all and (min-width:640px) and (min-height: 225px) and (max-height: 279px) {
	#extra, #view {
		--scale: 0.4;
	}
}

@media all and (min-width:640px) and (min-height: 280px) and (max-height: 359px) {
	#extra, #view {
		--scale: 0.5;
	}
}

@media all and (min-width:640px) and (min-height: 360px) and (max-height: 419px) {
	#extra, #view {
		--scale: 0.6;
	}
}

@media all and (min-width:640px) and (min-height: 420px) and (max-height: 579px) {
	#extra, #view {
		--scale: 0.75;
	}
}

/* Adjust for widths < 640px */
@media all and (min-width:569px) and (max-width: 639px) {
	#extra, #view {
		--scale: 0.875;
	}
}

@media all and (min-width:481px) and (max-width: 568px) {
	#extra, #view {
		--scale: 0.75;
	}
}

@media all and (min-width:321px) and (max-width: 480px) {
	#extra, #view {
		--scale: 0.5;
	}
}

@media all and (min-width:256px) and (max-width: 320px) {
	#extra, #view {
		--scale: 0.4;
	}
}

@media all and (min-width:160px) and (max-width: 255px) {
	#extra, #view {
		--scale: 0.25;
	}
}

@media all and (min-width:64px) and (max-width: 159px) {
	#extra, #view {
		--scale: 0.1;
	}
}

@media all and (min-width:0px) and (max-width: 63px) {
	#extra, #view {
		--scale: 0;
	}
}

#extra, #view {
	-webkit-transform: scale(var(--scale));
	transform: scale(var(--scale));
	width: calc(640px * var(--scale));
	height: calc(480px * var(--scale));
	margin: calc(-280px * var(--scale)) auto auto calc(-320px * var(--scale));
}

em{
	display: none;
}

#view{
	display: block;
	background: transparent url(blank.gif) repeat 0 0;
	cursor: default;
	z-index: 20;
}

#extra{
	background: #000;
}

#extra .layer{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

#fork{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 356px;
	height: 92px;
	cursor: pointer;
	background-image: url(fork.gif);
	z-index: 0;
}

#desc{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	height: 80px;
	color: #ccc;
	line-height: 40px;
	margin-top: 200px;
	text-align: center;
	font-size: 14px;
}

#desc a{
	color: #318fe1;
}

#browser{
	font-size: 14px;
	line-height: 16px;
}

#browser .b{
	color: #fff;
	font-weight: 700;
}